@charset "utf-8";

/*
	Feverdream Collective Layout Stylesheet

	Author: Lisa Guevara
	Date: 2021-03-25
	
	Filename: FD_layout.css
	
	These layout elements can also be found in the
	consolidated stylesheet: GuevaraLisa_styles.css
*/

/*=================================================
 * General Layout and Styles for all screen widths
 *=================================================
 */
body {
	padding:10px;
	width: 87%;
	margin-left: auto;
	margin-right:auto;
}
nav#links a {
	display: block;
	padding: 5px;
}
nav ul {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
}
nav li {
	display:inline-block;
	padding: 5px;
	margin: 3px auto;
	width: 18%;
}
nav a {
	display:inline-block;
	width: 100%;
}
div.banner-imgLeft, div.banner-imgRight {
	display: inline-block;
	height: 45vh;
	margin: 0 auto;
	width: 50%;
}
div.banner-imgLeft {
	float:left;
}
div.banner-textLeft, div.banner-textRight {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 45vh;
	padding: 5px;
	margin: 0 auto;
}
div.banner-textLeft {
	float:left;
}
div.banner-textLeft h2, div.banner-textRight h2 {
	margin-top: auto;
}
h1 {
	margin: 0 auto;
	padding: 15px;
}
h2 {
	padding: 8px;
}
section {
	clear:both;
}
section p {
	margin: 10px;
	padding: 10px;
}
section#members h2:first-child, h2.eventYear {
	width:100%;
}
section#members ul#memberList, ul#pastList {
	padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section#members li {
    flex-basis: 150px;
}
section#members img {
	width: 100%;
	box-sizing: border-box;
}
section#members figure {
	display: inline-block;
	margin: 0;
}
section#members figure:nth-of-type(even) {
	width:35%;
	float:right;
}
section#members figure:nth-of-type(odd) {
	width:35%;
	float:left;
}
section#members h2.memberName:nth-of-type(even) {
    width: 65%;
	margin-bottom: 10px;
    float: right;
}
section#members h2.memberName:nth-of-type(odd) {
    width: 65%;
	margin-bottom: 10px;
    float: left;
}
section#members p.BackToTop {
	clear:both;
}
aside {
	margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
	align-items: center;
}
aside img {
	width: 45%;
	height: auto;
	flex-basis: 250px;
    flex-grow: .4;
}
ul#pastList li {
	flex-basis: 0px;
}
table {
	width:100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
col#description {
	width: 40%;
}
col#example {
	width: 35%;
}
col#lesson {
	width:20%;
}
td, tr, th {
	padding:5px;
}
form#contact {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}
input#subject, label {
    display: block;
	width:60%;
	margin:5px 5px 5px 0px;
}
input {
	width:45%;
}
textarea {
	width:60%;
	height:100px;
}
input[type='submit'] {
	display: block;
	padding:5px;
	margin: 5px 0 5px 0;
	width:25%;
}
footer{
	clear:both;
	padding: 20px;
	margin: 0 auto;
	width:100%;
}

/*=================================================
 * Mobile Layout and Styles- 609px width and below
 * ================================================
 */

@media only screen and (max-width: 609px) {
	body {
		border: 4px solid rgb(204, 31, 222);
		width: 100%;
	}
	nav ul {
		display: block;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
	}
	nav li {
		display:block;
		width: 95%;
	}
	nav a {
		display: block;
	}
	div.banner-imgLeft, div.banner-imgRight {
		display: block;
		width: 95%;
	}
	div.banner-imgLeft {
		float:none;
	}
	div.banner-textLeft, div.banner-textRight {
		display: block;
		width: 95%;
		height: 100%;
	}
	div.banner-textLeft {
		float:none;
	}
	h2 {
		padding: 8px;
	}
	section#members h2:first-child, section#members h2.memberName:nth-of-type(even), section#members h2.memberName:nth-of-type(odd), h2.eventYear {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		float:none;
		clear:both;
	}
	section#members figure:nth-of-type(odd), section#members figure:nth-of-type(even) {
		width: 50%;
		min-width: 198px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		float:none;
	}
	thead {
		display: none;
	}
	td::before {
		content: attr(data-label);
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px;
		width: 40%;
		text-align: center;
	}
	tbody td {
		position: relative;
		padding-left: 40%;
	}
	table, tbody, tr, td, th {
		display: block;
		padding: 0px;
	}
	table {
		border:none;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	td {
		padding: 5px;
	}
	tr {
		border: none;
	}
	input#subject, label {
		display: block;
		width:90%;
		margin:5px 5px 5px 0px;
	}
	input {
		width:60%;
	}
	textarea {
		width:90%;
		height:100px;
	}
	input[type='submit'] {
		width:50%;
	}
	footer {
		width: 95%;
	}
}

/*=====================================================
 *Tablet Styles and Layout - between 610 and 768 width
 *=====================================================
 */

/*================================================
 *Desktop Styles and Layout - 769 width and above
 *================================================
 */

@media only screen and (min-width: 769px) {
	body {
		width: 83%;
	}
}